#Gradle
/.gradle

# Eclipse
/.settings
/bin
/build
.classpath
.project

# VSCODE
./vscode

#Windows
*.ini
[Tt]humbs.db
*.DS_Store

# IDEA
/.idea
*.iml

# Project
/layout
/logs
/docs
/data/database/*.7z
/data/database/*.csv
/data/database/dump.sql
/src/main/resources/public/node_modules
/src/main/resources/public/js/semantic
/*.sql
!*.gitkeep
