/*==========================================================
  FONT ICONS
*==========================================================*/
@font-face {
  font-family: 'Vue Awesome';
  src: url('../node_modules/vue-awesome-icons/dist/fonts/Vue-Awesome.woff2?jsu3w2') format('woff2'), url('../node_modules/vue-awesome-icons/dist/fonts/Vue-Awesome.ttf?jsu3w2') format('truetype'), url('../node_modules/vue-awesome-icons/dist/fonts/Vue-Awesome.woff?jsu3w2') format('woff'), url('../node_modules/vue-awesome-icons/dist/fonts/Vue-Awesome.svg?jsu3w2#Vue-Awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="vue-"],
[class*=" vue-"] {
  font-family: 'Vue Awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vue-accept:before {
  content: "\e900";
}
.vue-activity:before {
  content: "\e901";
}
.vue-airplane:before {
  content: "\e902";
}
.vue-anchor:before {
  content: "\e903";
}
.vue-arrow-down:before {
  content: "\e904";
}
.vue-arrow-left:before {
  content: "\e905";
}
.vue-arrow-right:before {
  content: "\e906";
}
.vue-arrow-up:before {
  content: "\e907";
}
.vue-asterisk:before {
  content: "\e908";
}
.vue-at:before {
  content: "\e909";
}
.vue-award:before {
  content: "\e90a";
}
.vue-bell:before {
  content: "\e90b";
}
.vue-binocollars:before {
  content: "\e90c";
}
.vue-bit-ghost:before {
  content: "\e90d";
}
.vue-bit-pacman:before {
  content: "\e90e";
}
.vue-book:before {
  content: "\e90f";
}
.vue-bookmark:before {
  content: "\e910";
}
.vue-bot:before {
  content: "\e911";
}
.vue-box:before {
  content: "\e912";
}
.vue-calendar:before {
  content: "\e913";
}
.vue-camera:before {
  content: "\e914";
}
.vue-cancel:before {
  content: "\e915";
}
.vue-cart:before {
  content: "\e916";
}
.vue-chart-bar:before {
  content: "\e917";
}
.vue-checked:before {
  content: "\e918";
}
.vue-chess-tower:before {
  content: "\e919";
}
.vue-clip:before {
  content: "\e91a";
}
.vue-clock:before {
  content: "\e91b";
}
.vue-cloud:before {
  content: "\e91c";
}
.vue-cloud-download:before {
  content: "\e91d";
}
.vue-cloud-upload:before {
  content: "\e91e";
}
.vue-coffee-cup:before {
  content: "\e91f";
}
.vue-cog:before {
  content: "\e920";
}
.vue-coins:before {
  content: "\e921";
}
.vue-command:before {
  content: "\e922";
}
.vue-comment:before {
  content: "\e923";
}
.vue-connection:before {
  content: "\e924";
}
.vue-copy:before {
  content: "\e925";
}
.vue-cross:before {
  content: "\e926";
}
.vue-dashboard:before {
  content: "\e927";
}
.vue-database:before {
  content: "\e928";
}
.vue-desk-lamp:before {
  content: "\e929";
}
.vue-desktop:before {
  content: "\e92a";
}
.vue-document:before {
  content: "\e92b";
}
.vue-dollar:before {
  content: "\e92c";
}
.vue-down:before {
  content: "\e92d";
}
.vue-download:before {
  content: "\e92e";
}
.vue-drink:before {
  content: "\e92f";
}
.vue-droplet:before {
  content: "\e930";
}
.vue-edit:before {
  content: "\e931";
}
.vue-ellipsis:before {
  content: "\e932";
}
.vue-emoti-angry:before {
  content: "\e933";
}
.vue-emoti-baffled:before {
  content: "\e934";
}
.vue-emoti-confused:before {
  content: "\e935";
}
.vue-emoti-cool:before {
  content: "\e936";
}
.vue-emoti-crying:before {
  content: "\e937";
}
.vue-emoti-furious:before {
  content: "\e938";
}
.vue-emoti-happy:before {
  content: "\e939";
}
.vue-emoti-hipster:before {
  content: "\e93a";
}
.vue-emoti-sad:before {
  content: "\e93b";
}
.vue-emoti-shocked:before {
  content: "\e93c";
}
.vue-emoti-sleepy:before {
  content: "\e93d";
}
.vue-emoti-smile:before {
  content: "\e93e";
}
.vue-emoti-thinking:before {
  content: "\e93f";
}
.vue-emoti-tongue:before {
  content: "\e940";
}
.vue-emoti-wink:before {
  content: "\e941";
}
.vue-excel:before {
  content: "\e942";
}
.vue-eye:before {
  content: "\e943";
}
.vue-eyedropper:before {
  content: "\e944";
}
.vue-facebook:before {
  content: "\e945";
}
.vue-factory:before {
  content: "\e946";
}
.vue-fast-forward:before {
  content: "\e947";
}
.vue-feather:before {
  content: "\e948";
}
.vue-female:before {
  content: "\e949";
}
.vue-file:before {
  content: "\e94a";
}
.vue-filter:before {
  content: "\e94b";
}
.vue-flag:before {
  content: "\e94c";
}
.vue-floppy-disk:before {
  content: "\e94d";
}
.vue-folder:before {
  content: "\e94e";
}
.vue-folder-zip:before {
  content: "\e94f";
}
.vue-forklift:before {
  content: "\e950";
}
.vue-fragile:before {
  content: "\e951";
}
.vue-fruit:before {
  content: "\e952";
}
.vue-gamepad:before {
  content: "\e953";
}
.vue-gift:before {
  content: "\e954";
}
.vue-globe:before {
  content: "\e955";
}
.vue-graph:before {
  content: "\e956";
}
.vue-grid:before {
  content: "\e957";
}
.vue-hash:before {
  content: "\e958";
}
.vue-headset:before {
  content: "\e959";
}
.vue-heart:before {
  content: "\e95a";
}
.vue-home:before {
  content: "\e95b";
}
.vue-hourglass:before {
  content: "\e95c";
}
.vue-id-card:before {
  content: "\e95d";
}
.vue-image:before {
  content: "\e95e";
}
.vue-info:before {
  content: "\e95f";
}
.vue-instagram:before {
  content: "\e960";
}
.vue-invoice:before {
  content: "\e961";
}
.vue-key:before {
  content: "\e962";
}
.vue-keyboard:before {
  content: "\e963";
}
.vue-layers:before {
  content: "\e964";
}
.vue-layout:before {
  content: "\e965";
}
.vue-left:before {
  content: "\e966";
}
.vue-lifebuoy:before {
  content: "\e967";
}
.vue-lightning:before {
  content: "\e968";
}
.vue-link:before {
  content: "\e969";
}
.vue-location:before {
  content: "\e96a";
}
.vue-logout:before {
  content: "\e96b";
}
.vue-magnifier:before {
  content: "\e96c";
}
.vue-mail:before {
  content: "\e96d";
}
.vue-male:before {
  content: "\e96e";
}
.vue-map:before {
  content: "\e96f";
}
.vue-maximize:before {
  content: "\e970";
}
.vue-megaphone:before {
  content: "\e971";
}
.vue-menu:before {
  content: "\e972";
}
.vue-microphone:before {
  content: "\e973";
}
.vue-minimize:before {
  content: "\e974";
}
.vue-minus:before {
  content: "\e975";
}
.vue-monitor:before {
  content: "\e976";
}
.vue-move:before {
  content: "\e977";
}
.vue-movie:before {
  content: "\e978";
}
.vue-museum:before {
  content: "\e979";
}
.vue-music:before {
  content: "\e97a";
}
.vue-mute:before {
  content: "\e97b";
}
.vue-padlock-locked:before {
  content: "\e97c";
}
.vue-padlock-unlocked:before {
  content: "\e97d";
}
.vue-paint-roller:before {
  content: "\e97e";
}
.vue-pause:before {
  content: "\e97f";
}
.vue-pdf:before {
  content: "\e980";
}
.vue-pencil:before {
  content: "\e981";
}
.vue-percent:before {
  content: "\e982";
}
.vue-phone:before {
  content: "\e983";
}
.vue-pin:before {
  content: "\e984";
}
.vue-play:before {
  content: "\e985";
}
.vue-plus:before {
  content: "\e986";
}
.vue-pointer:before {
  content: "\e987";
}
.vue-power:before {
  content: "\e988";
}
.vue-presentation:before {
  content: "\e989";
}
.vue-printer:before {
  content: "\e98a";
}
.vue-question:before {
  content: "\e98b";
}
.vue-quote-close:before {
  content: "\e98c";
}
.vue-quote-open:before {
  content: "\e98d";
}
.vue-refresh:before {
  content: "\e98e";
}
.vue-reload:before {
  content: "\e98f";
}
.vue-reply:before {
  content: "\e990";
}
.vue-rewind:before {
  content: "\e991";
}
.vue-right:before {
  content: "\e992";
}
.vue-scissors:before {
  content: "\e993";
}
.vue-server:before {
  content: "\e994";
}
.vue-share:before {
  content: "\e995";
}
.vue-ship:before {
  content: "\e996";
}
.vue-shuffle:before {
  content: "\e997";
}
.vue-signal:before {
  content: "\e998";
}
.vue-sitemap:before {
  content: "\e999";
}
.vue-sliders:before {
  content: "\e99a";
}
.vue-soundwave:before {
  content: "\e99b";
}
.vue-spinner:before {
  content: "\e99c";
}
.vue-star:before {
  content: "\e99d";
}
.vue-stop:before {
  content: "\e99e";
}
.vue-suitcase:before {
  content: "\e99f";
}
.vue-support:before {
  content: "\e9a0";
}
.vue-tag:before {
  content: "\e9a1";
}
.vue-text:before {
  content: "\e9a2";
}
.vue-thumbs-down:before {
  content: "\e9a3";
}
.vue-thumbs-up:before {
  content: "\e9a4";
}
.vue-tools:before {
  content: "\e9a5";
}
.vue-trash:before {
  content: "\e9a6";
}
.vue-trophy:before {
  content: "\e9a7";
}
.vue-truck:before {
  content: "\e9a8";
}
.vue-twitter:before {
  content: "\e9a9";
}
.vue-umbrella:before {
  content: "\e9aa";
}
.vue-untagged:before {
  content: "\e9ab";
}
.vue-up:before {
  content: "\e9ac";
}
.vue-upload:before {
  content: "\e9ad";
}
.vue-user:before {
  content: "\e9ae";
}
.vue-users:before {
  content: "\e9af";
}
.vue-volume:before {
  content: "\e9b0";
}
.vue-warning:before {
  content: "\e9b1";
}
.vue-youtube:before {
  content: "\e9b2";
}
.vue-zoom-in:before {
  content: "\e9b3";
}
.vue-zoom-out:before {
  content: "\e9b4";
}
/* ==========================================================================
    HELPERS - Componentes auxiliares
   ========================================================================== */
.site-form .input-group {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #5D2299;
  margin: 15px 0;
  border-radius: 5px;
  background-clip: padding-box;
}
.site-form .input-group .input-group-text {
  background: none;
  border: none;
  color: #5D2299;
}
.site-form .input-group .form-control {
  background: none;
  border: none;
}
.site-form .input-group .form-control:focus {
  box-shadow: none;
}
.link {
  color: #66FFCC;
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-weight: 500;
}
.link:hover {
  color: #5D2299;
  text-decoration: none;
}
body {
  font-family: 'Jost', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.login {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: #66FFCC url(../img/login_background.png) no-repeat center center;
  background-size: cover;
}
.login .login-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #66FFCC;
  background: -moz-linear-gradient(45deg, rgba(102, 255, 204, 0.9) 0%, rgba(121, 144, 216, 0.9) 60%, rgba(93, 34, 153, 0.9) 100%);
  background: -webkit-linear-gradient(45deg, rgba(102, 255, 204, 0.9) 0%, rgba(121, 144, 216, 0.9) 60%, rgba(93, 34, 153, 0.9) 100%);
  background: linear-gradient(45deg, rgba(102, 255, 204, 0.9) 0%, rgba(121, 144, 216, 0.9) 60%, rgba(93, 34, 153, 0.9) 100%);
}
.login .login-content .login-box {
  margin-top: -25px;
}
.login .login-content .login-box .login-title {
  font-size: 28px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.25);
}
.login .login-content .login-box .social-login {
  padding: 0 15px;
}
.login .login-content .login-box .login-splitter {
  margin: 15px auto;
  height: 35px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}
.login .login-content .login-box .login-splitter hr {
  width: 40%;
  height: 2px;
  background: white;
  border: none;
  float: left;
  margin-top: 21px;
  margin-bottom: 21px;
}
.login .login-content .login-box .login-splitter span {
  font-size: 1.2rem;
  margin: 5px 20px;
  color: white;
  font-weight: 500;
  float: left;
}
.login .login-content .login-box .site-form button {
  background: #5D2299;
  color: white;
  font-weight: 500;
}
.login .login-content .login-info {
  color: white;
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.login .login-brand {
  position: absolute;
  bottom: 50px;
  left: 65px;
  display: flex;
  align-items: center;
}
.login .login-brand p {
  margin-left: 10px;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-shadow: 0 7px 5px rgba(0, 0, 0, 0.25);
}
