<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicons/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/favicons/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicons/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/favicons/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicons/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/favicons/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicons/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/img/favicons/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/img/favicons/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">

    <title>The Movie Finder</title>
</head>
