
/* ==========================================================================
    HELPERS - Componentes auxiliares
   ========================================================================== */

.site-form
{
    .input-group
    {
        background: fade(white, 70%);
        border: 2px solid @accent-color;
        margin: 15px 0;

        .border-radius(5px);

        .input-group-text
        {
            background: none;
            border: none;
            color: @accent-color;
        }

        .form-control
        {
            background: none;
            border: none;
            &:focus
            {
                box-shadow: none;
            }
        }
    }
}

.link
{
    color: @primary-color;
    .text-shadow(0 7px 5px rgba(0, 0, 0, 0.25));
    .transition(color .25s ease-in-out);
    font-weight: 500;
    &:hover
    {
        color: @accent-color;
        text-decoration: none;
    }
}
